<div class="item-card" role="listitem">
  <div class="item">
    <label [for]="task().id">
      <input
        type="checkbox"
        [name]="task().id"
        [id]="task().id"
        [checked]="task().completed"
        (change)="toggleCompleted()"
        [attr.aria-label]="
          'Mark ' + task().name + ' as ' + (task().completed ? 'incomplete' : 'complete')
        " />
      <span [ngClass]="{ 'text-gray-500 line-through': task().completed }" class="text-lg">
        {{ task().name }}
      </span>
    </label>
  </div>
  <button
    type="button"
    [attr.aria-label]="'Delete task: ' + task().name"
    (click)="deleteTask()">
    Delete
  </button>
</div>
