<div
  class="flex items-center justify-between p-4 mb-3 bg-white border rounded-md shadow-sm">
  <div class="flex items-center gap-3">
    <input
      type="checkbox"
      [checked]="task().completed"
      (change)="toggleCompleted()"
      class="w-5 h-5 accent-blue-500"/>
    <span
      [ngClass]="{'line-through text-gray-500': task().completed}"
      class="text-lg">
      {{ task().name }}
    </span>
  </div>
  <button
    (click)="deleteTask()"
    class="text-red-500 hover:text-red-700">
    Delete
  </button>
</div>
