<div class="mb-6">
  <form [formGroup]="taskForm" (ngSubmit)="handleSubmit()" class="flex gap-2">
    <input
      type="text"
      name="name" id="name" formControlName="name"
      placeholder="Add a new task"
      class="flex-1 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      required/>
    <button
      type="submit"
      class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
      [disabled]="!taskForm.valid">
      Add Task
    </button>
  </form>
</div>
